<mat-toolbar color="primary" class="navbar-toolbar">
  <span class="navbar-title">💸 Expenses Control</span>
  <span class="navbar-spacer"></span>
  <ng-container *ngIf="authChecked">
    <ng-container *ngIf="isAuthenticated()">
      <button mat-button [routerLink]="['/dashboard']" routerLinkActive="active">Dashboard</button>
      <button mat-button [routerLink]="['/expenses']" routerLinkActive="active">Add Expense</button>
      <button mat-button [routerLink]="['/expenses-list']" routerLinkActive="active">Expenses List</button>
    </ng-container>
    <button mat-button [routerLink]="['/login']" routerLinkActive="active">Login</button>
  </ng-container>
</mat-toolbar>
