<form [formGroup]="expenseForm" (ngSubmit)="onSubmit()" class="expense-form">
  <mat-form-field appearance="outline" class="expense-field">
    <mat-label>{{ 'EXPENSES.DATE' | translate }}</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date" required />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="outline" class="expense-field">
    <mat-label>{{ 'EXPENSES.DESCRIPTION' | translate }}</mat-label>
    <input matInput type="text" formControlName="description" required />
  </mat-form-field>
  <mat-form-field appearance="outline" class="expense-field">
    <mat-label>{{ 'EXPENSES.VALUE' | translate }}</mat-label>
    <input
      matInput
      type="number"
      step="0.01"
      formControlName="value"
      required
    />
  </mat-form-field>
  <mat-form-field appearance="outline" class="expense-field">
    <mat-label>{{ 'EXPENSES.PLACE' | translate }}</mat-label>
    <input matInput type="text" formControlName="place" required />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>{{ 'EXPENSES.CATEGORY' | translate }}</mat-label>
    <mat-select formControlName="category" required>
      <mat-option
        *ngFor="let category of categories$ | async"
        [value]="category.id"
      >
        {{ category.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" class="expense-field">
    <mat-label>{{ 'EXPENSES.ACCOUNT_USED' | translate }}</mat-label>
    <mat-select formControlName="accountUsed" required>
      <mat-option *ngFor="let acc of accounts$ | async" [value]="acc.id">{{
        acc.name
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="expense-actions">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!expenseForm.valid"
    >
      {{ 'EXPENSES.ADD_EXPENSE' | translate }}
    </button>
  </div>
</form>
