<div class="dashboard-welcome">
  <h2 *ngIf="user">
    {{
      "DASHBOARD.WELCOME" | translate : { name: user.displayName || user.email }
    }}
  </h2>
</div>
<mat-expansion-panel [(expanded)]="monthlySummaryExpanded">
  <mat-expansion-panel-header class="dashboard-summary-header">
    <span class="dashboard-summary-title">{{
      "DASHBOARD.MONTHLY_SUMMARY" | translate
    }}</span>
  </mat-expansion-panel-header>
  <app-dashboard-summary
    *ngIf="monthlySummaryExpanded"
    [expenses]="expenses"
    [accounts]="accounts"
    [categories]="categories"
  ></app-dashboard-summary>
</mat-expansion-panel>
